<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Order List</title>
</head>
<body>
    <h1>Order List</h1>
    {% for order in orders %}
    <div>
        <p>
            Customer Name: {{ order.customer_name }} 
            Order Date: {{ order.order_date }}
            Order Quantity: {{ order.quantity }}
            Game Title: {{ order.game_title }}
            Game Type: {{ order.game_type }} <br>
        </p>
    </div>
    {% endfor %}
</body>
</html>